/*
========================
Variables de los colores
========================
*/
:root{
    --verde-oscuro: #386641;
    --verde-medio: #6a994e;
    --verde-claro: #a7c957;
    --beige-pastel: #f2e8cf;
    --rojo-pastel: #bc4749;
}
/*
========================
Barra de navegacion
========================
*/

.navbar{
    background-color: #386641;
}

.nav-img{
    width: 60px;
    height: 30px;
}

.navbar-nav li a:hover {
    color: var(--beige-pastel);
    font-size: 120%;
}

.navbar-nav a{
    color: red;
}

.btn-danger.search-btn:hover {
    background-color: #ff0000;
    color: var(--beige-pastel);
}

#activo{
    color: #ff0000;
}

.navbar-brand i{
    color: var(--beige-pastel);
}

/*
========================
Seccion 1 Carrusel
========================
*/
.c-item{
    height: 480px;
}

.c-img{
    height: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-caption h6, h3{
    color: #386641;
}

#textoCarrusel{
    margin-top: 5rem;
}
/*
=====================================
        TODAS LAS SECCIONES
=====================================
*/
#section{
    background-color: var(--beige-pastel);
    color: var(--verde-oscuro);
    display: flex;
}
/*
=====================================
         PAGINA INDEX/HOME
=====================================
*/
/*
===========================
Seccion 2 Contexto del main
===========================
*/
#btn_section2{
    background-color: #386641;
    color: var(--beige-pastel);
    border: none;
}

#btn_section2:hover{
    background-color: var(--rojo-pastel);
    color: var(--beige-pastel);
    border: none;
}

#section2Texto{
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: justify;
}
/* 
==============================
Seccion EXTRA RELOJ
==============================
*/
#boton-hora{
    background-color: #bc4749;
    border: none;
}

#boton-hora:hover{
    font-size: 110%;
    background-color: #386641;
}

#texto-hora{
    margin-top: 10rem;
    margin-left: 10rem;
}

.clock{
    margin-top: 4rem;
    margin-left: 15rem;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/clock.png);
    background-size: cover;
    border: 4px solid #386641;
    border-radius: 50%;
    box-shadow: 0 -5px 5px var(--rojo-pastel),
                inset 0 -5px 5px var(--rojo-pastel),
                0 5px 5px var(--rojo-pastel),
                inset 0 5px 5px var(--rojo-pastel);
}

.clock:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #386641;
    border-radius: 50%;
    z-index: 10000;
}

.clock .hour, .clock .min, .clock .sec{
    position: absolute;
}

.clock .hour, .hr{
    width: 160px;
    height: 160px;
}

.clock .min, .mn{
    width: 190px;
    height: 190px;
}

.clock .sec, .sc{
    width: 230px;
    height: 230px;
}

.hr, .mn, .sc{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    position: absolute;
    border-radius: 50%;
}

.hr:before{
    content: '';
    position: absolute;
    width: 10px;
    height: 80px;
    background: #bc4749;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.mn:before{
    content: '';
    position: absolute;
    width: 5px;
    height: 100px;
    background: #386641;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sc:before{
    content: '';
    position: absolute;
    width: 3px;
    height: 150px;
    background: #6a994e;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}
/* 
==============================
Seccion 3 Cards de los platos
==============================
*/
#cartas{
    margin-top: 4rem;
}
#containerTop{
    margin-top: 1rem;
}

#containerBottom{
    margin-bottom: 2rem;
}

#cardBody3{
    background-color: var(--rojo-pastel);
}

#cardTitle{
    color: var(--beige-pastel);
}

#botonS3{
    background-color: var(--verde-medio);
    border: none;
    color: var(--beige-pastel);
}

#botonS3:hover{
    background-color: var(--beige-pastel);
    color: var(--verde-oscuro);
}

/*
========================
Seccion 4 Contexto eventos
========================
*/
#btn_section4{
    background-color: #386641;
    color: var(--beige-pastel);
    border: none;
}

#btn_section4:hover{
    background-color: var(--rojo-pastel);
    color: var(--beige-pastel);
    border: none;
}

#texto3{
    text-align: justify;
}
/*
=====================================
        PAGINA PRODUCTOS
=====================================
*/
/*
========================
Seccion 5 Cards
========================
*/
#cardtext{
    background-color: var(--rojo-pastel);
    color: var(--beige-pastel);
}

#tituloProducto{
    color: var(--verde-oscuro);
    margin-top: 2rem;
    margin-bottom: 1rem;
}
/*
========================
Seccion 6 Texto
========================
*/
#section6{
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: justify;
}

#imagen1Producto{
    height: 400px;
    width: 450px;
}
/*
=====================================
           PAGINA EVENTOS
=====================================
*/
/*
========================
Seccion 9 Eventos
========================
*/
#imagenesEvento{
    height: 200px
}
#cardtextEventos{
    background-color: var(--verde-oscuro);
    color: var(--beige-pastel);
}
/*
========================
Footer
========================
*/
.footer-img{
    width: 100px;
    height: 50px;
}

.site-footer{
    background: var(--verde-oscuro);
}

footer *{
    color: var(--beige-pastel);
    background-color: var(--verde-oscuro);
}

footer h5,a{
    color: var(--beige-pastel);
}

footer img{
    height: 100px;
}

.text-white{
    text-decoration: none;
}

.f-text{
    color: var(--beige-pastel);
}

.f-text:hover{
    color: #bc4749;
    text-decoration: none;
}

footer a{
    text-decoration: none;
}

#boton-nav{
    background-color: #bc4749;
    border: #bc4749;
}

#boton-nav:hover{
    background-color: beige;
    border: beige;
    color: #bc4749;
}

/*ESTILO DEL MAPA*/
#myMap{
    height: 300px;
    width: 700px;
}

/*ESTILO DE LA TARJETA DEL CLIMA*/

.weather-icon{
    width: 110px;
    margin-top: 10px;
}

.weather h6{
    font-size: 15px;
    font-weight: 500;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#texto-humedad{
    margin-right: 40px;
}

#texto-viento{
    margin-top: 14px;
}

#carta-clima{
    width: 110%;
    max-width: 470px;
    background: linear-gradient(135deg, #6a994e, #a7c957);
    color: #f2e8cf;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}